<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/testtemplate/template.xhtml">
	<ui:define name="content">
<h:form id="form">
<h:panelGrid columns="2">

<h:outputText value="Question"/>
<h:inputTextarea styleClass="form-control bg-light border-0 small" value="#{quizBean.quest.content}"/>

<h:outputText value="Answer"/>
<h:inputText styleClass="form-control bg-light border-0 small" value="#{quizBean.quest.answer}"/>

<h:outputText value="Difficulty"/>
<h:inputText styleClass="form-control bg-light border-0 small" value="#{quizBean.quest.difficulty}"/>

<h:commandButton styleClass="btn btn-primary btn-icon-split" id="btn" action="#{quizBean.updateQuestion()}" value="update"/>
<h:commandButton styleClass="btn btn-danger btn-icon-split" action="#{quizBean.deleteQuestion() }" value="delete"/>
<h:message for="btn"/>


</h:panelGrid>
<h:commandButton styleClass="btn btn-success btn-icon-split" action="#{questionBean.backtoQuiz()}" value="back"/>
</h:form>

</ui:define>



</ui:composition>