
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/testtemplate/template.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<h:panelGrid columns="2">
			
				<h:outputText value="Title" />
				<h:inputText styleClass="form-control bg-light border-0 small" value="#{quizBean.qu.title}" />
				
				<h:outputText value="Role" />
				<h:selectOneMenu styleClass="form-control bg-light border-0 small" value="#{quizBean.qu.subject}">
				<f:selectItem itemLabel="select the subject" itemValue="" />
				<f:selectItems value="#{myData.subjects}"/>
				</h:selectOneMenu>
				
				<h:commandButton styleClass="btn btn-primary btn-icon-split" id="btn" action="#{quizBean.updateQuizInfo()}" value="update Quiz"/>
				
			</h:panelGrid>
		</h:form>
		
		
		<br/>
			<h2>already in this Quiz </h2>
		<h:dataTable styleClass="table table-bordered dataTable" value="#{quizBean.myquestions}" var="question" border="1">
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="All questions"/>
		</f:facet>
		<h:outputText value="#{question.content}"/>
		</h:column>
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Answer"/>
		</f:facet>
		<h:outputText value="#{question.answer}"/>
		</h:column>	
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Action"/>
		</f:facet>
		<h:form>
		<h:commandButton styleClass="btn btn-danger btn-icon-split" action="#{quizBean.retrieveQuestion(question) }"  value="remove"/>
		</h:form>
		
		</h:column>
		
		
		
		</h:dataTable>
		
				<br/>
			<h2>add question</h2>
			<h:message styleClass="text-xs font-weight-bold text-warning text-uppercase mb-1" for="btn"/>
		<h:dataTable styleClass="table table-bordered dataTable" value="#{quizBean.questions}" var="question" border="1">
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="All questions"/>
		</f:facet>
		<h:outputText value="#{question.content}"/>
		</h:column>
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Answer"/>
		</f:facet>
		<h:outputText value="#{question.answer}"/>
		</h:column>
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Difficulty"/>
		</f:facet>
		<h:outputText value="#{question.difficulty}"/>
		</h:column>
		
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Action"/>
		</f:facet>
		<h:form >
		<h:commandButton styleClass="btn btn-success btn-icon-split" action="#{quizBean.affectQuestion(question) }" value="add to my quiz"/>
		<h:commandButton styleClass="btn btn-primary btn-icon-split" action="#{quizBean.goToQuestionUp(question) }" value="update"/>
		
		</h:form>
		
		</h:column>
		
		
		
		</h:dataTable>
		<h:form>
		<h:commandButton styleClass="btn btn-success btn-icon-split" action="#{quizBean.goToQuestion() }" value="add new questions"/>
		</h:form>

	</ui:define>



</ui:composition>