
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/testtemplate/template.xhtml">
	<ui:define name="content">
	
	
		<h:form>
			<h:panelGrid columns="2">
			
				<h:outputText value="Title" />
				<h:inputText styleClass="form-control bg-light border-0 small" value="#{quizBean.title}" />
				
				<h:outputText value="Role" />
				<h:selectOneMenu styleClass="form-control bg-light border-0 small" value="#{quizBean.subject}">
				<f:selectItem itemLabel="select the subject" itemValue="" />
				<f:selectItems value="#{myData.subjects}"/>
				</h:selectOneMenu>
				
				<h:commandButton styleClass="btn btn-success btn-icon-split" action="#{quizBean.addQuiz()}" value="add Quiz"/>
			</h:panelGrid>
		</h:form>
		
		
		
		<br/>
			<h2>Quizzes available</h2>
			<h6>PS : quizzes with under 3 questions wont show in the user interface .</h6>
		<h:dataTable styleClass="table table-bordered dataTable" value="#{quizBean.quizs}" var="quiz" border="1">
		
		
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Title"/>
		
		
        
		</f:facet>
		
		<h:outputText value="#{quiz.title}" styleClass="text-xs font-weight-bold text-info text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) gt '2'}" />
		
       <h:outputText value="#{quiz.title}" styleClass="text-xs font-weight-bold text-danger text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) lt '3'}" />
		
		 
		</h:column>
		
		
		<h:column>
		<f:facet name="header">
		<h:outputText  value="Subject"/>
		</f:facet>
		<h:outputText styleClass="text-xs font-weight-bold text-info text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) gt '2'}" value="#{quiz.subject}"/>
		<h:outputText styleClass="text-xs font-weight-bold text-danger text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) lt '3'}" value="#{quiz.subject}"/>
		
		</h:column>
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Questions"/>
		</f:facet>
		<h:outputText styleClass="text-xs font-weight-bold text-info text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) gt '2'}" value="#{quizBean.quNumber(quiz.id) }"/>
		<h:outputText styleClass="text-xs font-weight-bold text-danger text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) lt '3'}" value="#{quizBean.quNumber(quiz.id) }"/>
		
		</h:column>
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="difficulty"/>
		</f:facet>
		<h:outputText styleClass="text-xs font-weight-bold text-info text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) gt '2'}" value="#{quizBean.quDifficulty(quiz.id) }"/>
		<h:outputText styleClass="text-xs font-weight-bold text-danger text-uppercase mb-1"  rendered="#{quizBean.quNumber(quiz.id) lt '3'}" value="#{quizBean.quDifficulty(quiz.id) }"/>
		
		</h:column>
		
		<h:column>
		<f:facet name="header">
		<h:outputText value="Action"/>
		</f:facet>
		<h:form>
		<h:commandButton styleClass="btn btn-primary btn-icon-split" action="#{quizBean.manageQuiz(quiz)}" value="manage"/>
		<h:commandButton styleClass="btn btn-danger btn-icon-split" action="#{quizBean.removeQuiz(quiz)}" value="delete"/>
		
		</h:form>
		
		</h:column>
		
		
		
		</h:dataTable>

	</ui:define>



</ui:composition>

