<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
	  <title>Clues Web Page :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <meta name="keywords" content="Replenish a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="#{facesContext.externalContext.requestContextPath}/template/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="#{facesContext.externalContext.requestContextPath}/template/css/style6.css" rel='stylesheet' type='text/css' />
    <link href="#{facesContext.externalContext.requestContextPath}/template/css/style.css" rel='stylesheet' type='text/css' />
    <link href="#{facesContext.externalContext.requestContextPath}/template/css/fontawesome-all.css" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet"/>
    
    
</ui:composition>
