<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
	<ui:define name="content">


		<br />
		<h2>end of quizz !</h2>
		<div class="col-lg-8 job_info_left">

		<h:outputText value="#{userQuizBean.msg2 }"/>
		<h:graphicImage value="/template/images/g3.jpg" styleClass="img-fluid" />
		<h:form>
			<h:commandButton action="#{userQuizBean.toResult() }" value="See your Result" styleClass="btn btn-block btn-outline-primary py-2"/>
		</h:form>
		</div>
		

	</ui:define>



</ui:composition>
