<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
	<ui:define name="content">


		<br />
		<h2>Quiz list</h2>
		 <div class="card-deck text-center row mt-5">
		<ui:repeat value="#{userQuizBean.quizs}" var="quiz">
			
                    <div class="price-info-grid col-lg-3">
			<div class="price-inner">
				<div class="price-header">
					<h4>#{quiz.subject}</h4>
				</div>
				<div class="price-body">
					<h5 class="pricing-title">
						#{quiz.title}
					</h5>

					<ul class="list-unstyled mt-3 mb-4">
						<li class="py-2 border-bottom">Questions :#{userQuizBean.quNumber(quiz.id)}</li>
						<li class="py-2 border-bottom">Difficulty :#{userQuizBean.quDifficulty(quiz.id) > 2 ?'hard':'easy'}</li>
						
					</ul>
					<h:form>
					<h:commandButton action="#{userQuizBean.enterQuiz(quiz)}" value="Take the quiz !" styleClass="btn btn-block btn-outline-primary py-2"/>
					</h:form>
				</div>
			</div>
			</div>
		</ui:repeat>
</div>
	</ui:define>



</ui:composition>
