<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
	<ui:define name="content">


		<br />
		<h2>#{userQuizBean.qu.title } Quiz !</h2>
		<h4>question #{userQuizBean.qnumber  }</h4>
		<div class="col-lg-8 job_info_left">
		<h:form>
		<h:panelGrid columns="2">
			

				<div class="emply-resume-list row mb-3">
					<div class="col-md-9 emply-info">
						<div class="emply-img">
							<img src="#{facesContext.externalContext.requestContextPath}/template/images/idea.png" alt="" class="img-fluid" />
						</div>
						<div class="emply-resume-info">
							<h4>#{userQuizBean.question.content}</h4>

							
								
							
						</div>
						<div class="clearfix"></div>
					</div>

				</div>
				<h:selectOneRadio value="#{userQuizBean.ans}">
			
									<f:selectItem itemLabel="  1" itemValue="1" />
									<br/>
									<f:selectItem itemLabel="  2" itemValue="2" />
									<f:selectItem itemLabel="  3" itemValue="3" />
									
								</h:selectOneRadio>

			
			
			
			</h:panelGrid>
			
			
			
			
			
			
			
			
			<h:commandButton value="Next" action="#{userQuizBean.next()}" styleClass="btn btn-block btn-outline-primary py-2"/>
		</h:form>
		
		</div>

	</ui:define>



</ui:composition>
