<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
	<ui:define name="content">


   


		<br />
		<h2>your score is #{userQuizBean.msg} %</h2>
		<div class="col-lg-8 job_info_left">
		<h:outputText rendered="#{userQuizBean.passed }" value="you passed the quiz with #{userQuizBean.msg}% congratulation !"/>
		<h:outputText rendered="#{! userQuizBean.passed }" value="you failed the quiz with #{userQuizBean.msg}% better luck next time !"/>
		
		<h:graphicImage rendered="#{userQuizBean.passed }" value="/template/images/1.jpg" styleClass="img-fluid" />
		<h:graphicImage rendered="#{! userQuizBean.passed }" value="/template/images/4.jpg" styleClass="img-fluid" />
			
			
			
			
			
			<h3>Rate this Quiz :</h3>
			<form id="ratingsForm" name="rating">
			<div class="stars">
			
			
			
                        <input type="radio" name="star" class="star-1" id="star-1" value="1" />
                        <label class="star-1" for="star-1">1</label>
                        <input type="radio" name="star" class="star-2" id="star-2" value="2"/>
                        <label class="star-2" for="star-2">2</label>
                        <input type="radio" name="star" class="star-3" id="star-3" value="3"/>
                        <label class="star-3" for="star-3">3</label>
                        <input type="radio" name="star" class="star-4" id="star-4" value="4"/>
                        <label class="star-4" for="star-4">4</label>
                        <input type="radio" name="star" class="star-5" id="star-5" value="5"/>
                        <label class="star-5" for="star-5">5</label>
                        <span></span>
                    </div>
                    </form>

                    
			
			
			
			<h:form>
		<h:commandButton action="#{userQuizBean.ratequiz()}" value="submit your vote" styleClass="btn btn-block btn-outline-primary py-2"/>
		<h:selectOneRadio value="#{userQuizBean.rate}">
			
									<f:selectItem itemLabel="" itemValue="1" />
									<f:selectItem itemLabel="" itemValue="2" />
									<f:selectItem itemLabel="" itemValue="3" />
									<f:selectItem itemLabel="" itemValue="4" />
									<f:selectItem itemLabel="" itemValue="5" />
									
								</h:selectOneRadio>
								</h:form>
		</div>
		
		
 <style>
        form .stars {
            background: url("#{facesContext.externalContext.requestContextPath}/template/images/stars.png") repeat-x 0 0;
            width: 150px;
            margin: 0 auto;
        }

        form .stars input[type="radio"] {
            position: absolute;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        form .stars input[type="radio"].star-5:checked ~ span {
            width: 100%;
        }
        form .stars input[type="radio"].star-4:checked ~ span {
            width: 80%;
        }
        form .stars input[type="radio"].star-3:checked ~ span {
            width: 60%;
        }
        form .stars input[type="radio"].star-2:checked ~ span {
            width: 40%;
        }
        form .stars input[type="radio"].star-1:checked ~ span {
            width: 20%;
        }
        form .stars label {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0!important;
            padding: 0!important;
            text-indent: -999em;
            float: left;
            position: relative;
            z-index: 10;
            background: transparent!important;
            cursor: pointer;
        }
        form .stars label:hover ~ span {
            background-position: 0 -30px;
        }
        form .stars label.star-5:hover ~ span {
            width: 100% !important;
        }
        form .stars label.star-4:hover ~ span {
            width: 80% !important;
        }
        form .stars label.star-3:hover ~ span {
            width: 60% !important;
        }
        form .stars label.star-2:hover ~ span {
            width: 40% !important;
        }
        form .stars label.star-1:hover ~ span {
            width: 20% !important;
        }
        form .stars span {
            display: block;
            width: 0;
            position: relative;
            top: 0;
            left: 0;
            height: 30px;
            background: url("#{facesContext.externalContext.requestContextPath}/template/images/stars.png") repeat-x 0 -60px;
            -webkit-transition: -webkit-width 0.5s;
            -moz-transition: -moz-width 0.5s;
            -ms-transition: -ms-width 0.5s;
            -o-transition: -o-width 0.5s;
            transition: width 0.5s;
        }
    </style>
	</ui:define>



</ui:composition>
