<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Clues - Login</title>

  <!-- Custom fonts for this template-->
  <link href="#{facesContext.externalContext.requestContextPath}/testtemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>

  <!-- Custom styles for this template-->
  <link href="#{facesContext.externalContext.requestContextPath}/testtemplate/css/sb-admin-2.min.css" rel="stylesheet"/>

</head>
<body class="bg-gradient-primary">


 <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome to Clues!</h1>
                  </div>
                  <h:form styleClass="user" id="form">


<div class="form-group">
<h:outputText value="login:"/>
<h:inputText styleClass="form-control form-control-user" value="#{loginBean.login}"/>
</div>

<div class="form-group">
<h:outputText value="password:"/>
<h:inputSecret styleClass="form-control form-control-user" value="#{loginBean.password}"/>
</div>
<h:commandButton id="btn" styleClass="btn btn-primary btn-user btn-block" action="#{loginBean.doLogin()}" value="login"/>
<h:message for="btn"/>



</h:form>
                  <hr/>
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="#{facesContext.externalContext.requestContextPath}/testtemplate/vendor/jquery/jquery.min.js"></script>
  <script src="#{facesContext.externalContext.requestContextPath}/testtemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="#{facesContext.externalContext.requestContextPath}/testtemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="#{facesContext.externalContext.requestContextPath}/testtemplate/js/sb-admin-2.min.js"></script>
</body>
</html>
